{% extends "main.html" %}
{% load i18n %}
{% block content_class %}white_bg outer_content{% endblock %}

{% block header %}
		<h2>{% trans 'Error' %}</h2>
{% endblock header %}

{% block content %}
<div class='block'>
    <h3> 500 Error. </h3>
    <div>
    	Internal server error.  The technical team is jumping on this 500, and turning it into a 200.
    </div>
</div>
{% endblock content %}