{% load i18n %}
<!-- load main_footer.html -->
<div class='block footer' style=''>
	<div style='width: 100%; text-align: center;' class='footer'>
		<a href='/'>{% trans 'Home' %}</a>  {% if not alias %}|  <a href='/info/order/'>{% trans 'Start for Free!' %}</a>  |  <a href='/login/'>{% trans '<b>Email + CAL</b> Login' %}</a> {% endif %}  |  <a href='/robot/'>{% trans '<b>Follow-up Robot</b> Login' %}</a>  |  <a href='/products/'>{% trans 'Products' %}</a>  |  <a href='http://support.calenvy.com/documentation/'>{% trans 'Documentation (wiki)' %}</a>  |  <a href='/blog/'>{% trans 'Blog' %}</a>
		<div style='margin-top: 5px;'>
			{% trans 'Copyright 2011' %} <a href='/'>{{site.name}}</a>.  {% trans 'All rights reserved.' %}
		</div>
		
	</div>
</div>
<!-- end main_footer.html -->