{% extends 'main.html' %}
{% load i18n %}

{% block javascript %}
<script language="javascript">
	var Page = this.Page = {
        validate: function() {
        
            var email = $('#forgot_email').val();

			if (email == '') { alert("{% trans 'Please enter a valid email address.' %}"); return false; } 
				
			
            Ajax.send_data('forgot_password/', {email: email }, function(data) {
                if (data.return_data.success) {
					alert(data.return_data.msg);
					window.location = '/';	
                } else {
                    alert(data.return_data.msg);
                }

			}, "POST");

			return false;
			
        }
	};
	
	$(document).ready(function() {
	
	});
</script>
{% endblock %}

{% block content %}

<div class='outer_block block rounded_upper outer_content'>
    <div class='content' style='padding-right:15px; height: ; '>
    
    	<div class='compact_top' style='margin-top: 0px;'>
			<img src='/static/images/widgets/images/compact_top_left.png'/>
		</div>
		
		<div class="compact_heading box_heading">
			<h3 style='margin-top: 0px;'>
            	{% trans 'Reset your password' %}
			</h3>
		</div>
        
        <div style='margin-top: 15px;'>            
            
            <form method='POST' onsubmit='return Page.validate(); return false;'>
	            <div style='width: 80px; float: left; display: inline;  '>
	            	{% trans 'Email:' %}
	            </div>
            
	            <input type='text' name='forgot_email' id='forgot_email' value='{{email}}' /> <Br/>
	            
	            <div style='clear:both; height: 5px;'></div>
	            
	            <input type='submit' name='' value='{% trans "Continue" %}' style='margin-top: 10px;'/>	           	
	           	
	           	{% trans 'or' %}
	           	
	           	<a href='/login/'>{% trans 'Return to the login form' %}</a>
	           	
	           	
           	</form>
           
            
        </div>
    </div>
</div>
{% endblock content %}
