{% extends 'main.html' %}
{% load i18n %}
{% block title %}
	{% if session.show_salesforce %}
		{% trans 'Manage your Salesforce leads automatically by sending and receiving email.  Supports Outlook, Gmail, Yahoo, Exchange, IMAP, etc.' %}
	{% else %}
		{% trans "Noted unlocks dates & times in your emails to manage your calendar automatically, conversations to support your team and customers, and file revisions to stay on top of what others are working on." %}
	{% endif %}
{% endblock %}
{% block style %}
<style>
	#scrollup {
	  position: relative;
	  overflow: hidden;
	  width: auto;
	  height: 40px;
	}
	.headline {
	  position: absolute;
	  top: 210px;
	  width:auto;
	  margin-top: -4px;
	}
	#scrollup_examples {
	  position: relative;
	  overflow: hidden;
	  width: auto;
	  height: 30px;
	}
	.headline_e {
	  position: absolute;
	  top: 210px;
	  width:auto;
	  left: 29px;
	  margin-top: -4px;
	}
	.block_content a {
		color: #D6156C;
	}
	
	ul#cover_nav_tabs li {
 		text-indent:-9000px;
 	}
 	ul.cover_nav_tabs a {
 		text-indent:-9000px;
 		height: 60px;
 		width: 185px;
 		{% if session.show_salesforce %}
 		background: url(/static/images/cover/images/sf_tab_links.gif) no-repeat;
 		{% else %}
 		background: url(/static/images/cover/images/tab_links.gif) no-repeat;
 		{% endif %}
 		border-right: 0px solid #ccc;
 		float:left;
 		position: relative;
 	}
 	
 	ul.cover_nav_tabs li a.tab_selected {
 		{% if session.show_salesforce %}
 		background: url(/static/images/cover/images/sf_tab_links_hover.gif) no-repeat;
 		{% else %}
 		background: url(/static/images/cover/images/tab_links_hover.gif) no-repeat;
 		{% endif %}
 	}
 	
 	ul.cover_nav_tabs li a:hover {
 		{% if session.show_salesforce %}
 		background: url(/static/images/cover/images/sf_tab_links_hover.gif) no-repeat;
 		{% else %}
 		background: url(/static/images/cover/images/tab_links_hover.gif) no-repeat;
 		{% endif %}
 	}
 	ul.cover_nav_tabs li#tab_first a {
		background-position: 0;
		text-indent:-9000px;
	}
	ul.cover_nav_tabs li#tab_second a {
		background-position:-185px;
		text-indent:-9000px;
	}
	ul.cover_nav_tabs li#tab_third a {
		background-position:-370px;
		text-indent:-9000px;
	}
	ul.cover_nav_tabs li#tab_fourth a {
		background-position:-555px;
		text-indent:-9000px;
		width: 194px;
	}
	ul#twitter_update_list li {
		padding-top: 10px;
		
	}
	.cover_tab a, .cover_tab a:link {
		text-decoration: none;
	}
	
	.cover_tab_nav div {
		padding-left: 10px;
		border-bottom: 1px dotted #eee;
		
	}
	.cover_tab_nav .enabled {
		background: url('/static/images/cover/images/cover_highlight.gif') no-repeat;
	}
	
</style>

<!--[if IE]>
<style type="text/css"> 
	ul.cover_nav_tabs li#tab_second a {
		top: -15px;
	}
	ul.cover_nav_tabs li#tab_third a {
		top: -30px;
	}
	ul.cover_nav_tabs li#tab_fourth a {
		top: -45px;
	}
	
	.cover_shadow {
		display: none;
	}
	
</style>
<![endif]-->


{% endblock %}

{% block javascript %}

{% comment %}
<script src="/static/js/lib/jqzoom.pack.1.0.1.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/css/jqzoom.css" type="text/css">
<style type"text/css">
div.notes{
	font-size:12px;
}
div.notes a{
	color:#990000;
}
</style>

<script type="text/javascript">
$(document).ready(function() {
	$(".jqzoom").jqzoom({	zoomWidth: 200,
        					zoomHeight: 250,
							yOffset: 13,
							//zoomType:'innerzoom',
							title:false,
							alwaysOn: false,
							preloadPosition: 'center'
							
	});

	$(".jqzoom").mouseover();
});
</script>
{% endcomment %}

<script language="javascript">
	var Animate = this.Animate = {
		scroll_tabs_inited: false,
		try_type: 'personal',
			
		example_template: "<div style='z-index:100000;'><div class='post_button'>Setting up an event with your friends is really, really easy.  <br/>Send an email, include <span class='email_cc'>Cc@{{site.domain}}</span>.</div><div style='position: relative;'><img src='/static/images/examples/meeting_cc_re.gif'/><span class='email_cc' style='font-size: 11px; font-weight: bold;position: absolute; left: 130px; top: 46px; '>Cc@{{site.domain}}</span></div></div>",
		
		scroll_names: function() {
			
			var headline_count;
			var headline_interval;
			var old_headline = 0;
			var current_headline = 0;
			$(document).ready(function(){
			  headline_count = $("div.headline").size();
			  $("div.headline:eq("+current_headline+")").css('top', '5px');
			  headline_interval = setInterval(headline_rotate,5000);
			});
			function headline_rotate() {
			  current_headline = (old_headline + 1) % headline_count;
			  var cur = $("div.headline:eq(" + old_headline + ")");
				cur.animate({top: -45},"slow", function() {
				  $(this).css('top', '210px');
				})
				.html();
			  $("div.headline:eq(" + current_headline + ")")
				.animate({top: 5},"slow");
			  old_headline = current_headline;
			}
			
			
		},

		demo_register: function() {
		    var email = $('input[name="demo_email"]').val();
		    /* var is_sf = '{{session.show_salesforce}}';
		    
		    if (is_sf == 'True') {
				var post_to = 'request_demo/';
		    } else {
		    	var post_to = 'invite_demo/';
		    } */

		    var post_to = 'request_demo/';
		    
			//alert(email+Animate.try_type);
			Ajax.send_data(post_to, {email: email, try_type: Animate.try_type}, 
				function(data) {
					if (data.return_data.success) {
						//alert(1);
						$('#demo_form').html(data.return_data.msg);
					} else {
						alert(data.return_data.msg);
					}
				}, "POST");
			return false;
		 },
		
		scroll_examples: function() {
			
			var headline_count;
			var headline_interval;
			var old_headline = 0;
			var current_headline = 0;
			$(document).ready(function(){
			  headline_count = $("div.headline_e").size();
			  $("div.headline_e:eq("+current_headline+")").css('top', '5px');
			  headline_interval = setInterval(headline_rotate,2000);
			});
			function headline_rotate() {
			  current_headline = (old_headline + 1) % headline_count;
			  var cur = $("div.headline_e:eq(" + old_headline + ")");
				cur.animate({top: -45},"slow", function() {
				  $(this).css('top', '210px');
				})
				.html();
			  $("div.headline_e:eq(" + current_headline + ")")
				.animate({top: 5},"slow");
			  old_headline = current_headline;
			}
			
			
		},

		scroll_tabs: function () {
			$('.tab_link').each(function() {
				$(this).click(function(e) {
					if (Animate.scroll_tabs_inited)
						$(".jqzoom").mouseout();
					$('.tab_link').removeClass('tab_selected');
					
					$(this).addClass('tab_selected');

					var nav_loc = $(this).attr('id');
					nav_loc = nav_loc.replace('tab_link_','');

					$('.cover_tabs_move').animate({left: '-'+nav_loc+'px'},1000);

					Animate.scroll_tabs_inited = true;
					
				});
			});
				
		},
		switch_tabs: function() {
			$('.try_switch').mouseout(function(e) {
				$('.email_example').mouseout();
			}).click(function(e) {
				var try_type = $(this).attr('id');
				try_type = try_type.replace('try_switch_','');
				Animate.try_type = try_type;
				$('.post_button_selected').removeClass('post_button_selected');
				$(this).addClass('post_button_selected');

				$('.email_example').mouseover();
				
				if (try_type == 'personal') {
					$('.email_cc').text('Cc@{{site.domain}}');
				} else {
					$('.email_cc').text('Cc@your_company.{{site.domain}}');
				}

			});
		}
		
	};
	
	$(document).ready(function() {
		Animate.scroll_names();
		Animate.scroll_examples();
		Animate.scroll_tabs();
		Animate.switch_tabs();
		$('a[title="know"]').click();

		
		$('#email_login').keyup(function(e) {
		    if(e.keyCode == 13) {
		        Ajax.login();
		    }
		});
		
	});
</script>
{% endblock %}

{% block content %}
<div style='background:#fff; height: auto;' class='rounded_upper outer_content'>

<div class='' style='padding-top: 10px;'><!--background-image: url(/static/images/iphone.gif); background-position: bottom right; background-repeat: no-repeat;-->
    
	<div class='cover_tabs' style='overflow: hidden; width: 748px;'>
		<div class='cover_tabs_move' style='width: 9000px; position: relative;'><!-- width: 2250px -->
		
			{% comment %}
			<div class='cover_tab cover_tab_intranet' style='float: left; width: 750px; position: relative; '>
				<div style='float: left; width: 510px;'  >
					<div style='padding-left:15px; '>
						<a title="Knowledge powered by email" class="jqzoom" href='/info/'>
							<img border='0' src='/static/images/cover/images/intranet_zoom_small.gif'/>
						</a>
					</div>
					<div style='padding-left:15px; '>
						<img src='/static/images/cover/images/intranet_example_sub_title.gif'/>
					</div>
				</div>
				<div style='float: left; width: 240px; '>
					
					<div style='padding: 10px 10px 10px 25px; '>
						
						<div style='background: #eee; border: 1px solid #ccc; height: 257px; ' class='rounded_upper rounded_lower'>
							<div align='center' style='font-size: 1.3em; margin-top: 10px; ' class='cover_tab_nav'>
				
								<div class=''>
									<strong>Watch Video</strong>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
				
				<div style='clear:both'>
				
				</div>
				
			</div>
			{% endcomment %}
			
			
			<div class='cover_tab cover_tab_intranet' style='float: left; width: 750px; position: relative;'>
				{% if session.show_salesforce %}
				<a class="" href='/info/order/'>
					<img border='0' src='/static/images/cover/images/sf_example_conv.jpg'/>
				</a>
				{% else %}
				<a class="" href='/info/order/'>
					<img border='0' src='/static/images/cover/images/intranet_example_conv.jpg'/>
				</a>
				{% endif %}
			</div>
			
			
			<div class='cover_tab cover_tab_calendar' style='float: left; width: 750px; position: relative;'>
				<a href='/info/order'>
					<img border='0' src='/static/images/cover/images/calendars_example.jpg'/>
				</a>
				
				<div style='width:200px; height: 50px; background:; position: absolute; left: 530px; top: 260px;'>
					<a href='http://twitter.com/ccNoted'>
					<img src='/static/images/spacer.gif' border='0' style='width: 100%; height: 100%;'/>
					</a>
				</div>
				
			</div>
			
			
			
			{% comment %}
			
			<div class='cover_tab cover_tab_iphone' style='float: left; width: 750px; position: relative;'>
				
				<div style='float: left; width: 370px; height: 250px;'>
					<a href='/info/order'><img src='/static/images/cover/images/iphone2_example_left.gif' border='0'/></a>
				</div>
				
				<div style='float: left; width: 380px; background: url(/static/images/cover/images/iphone2_example_right.gif) no-repeat; height: 250px;'>
					<h2 style='text-indent:-9000px; height: auto;'>
						text
					</h2>
					<h3 style='text-indent:-9000px; height: auto;'>
						text
					</h3>
				</div>
				
				<div style='clear: both;'></div>
				
				
			</div>
			

			<div class='cover_tab cover_tab_email' style='float:left; width: 750px; position: relative;'>
				<div style='float: left; width: 60%; height: 250px; background: url(/static/images/cover/images/email_example_left.gif) no-repeat;'>
					
				</div>
				
				<div style='float: left; width: 39%; background: url(/static/images/cover/images/email_example_right_text.gif) no-repeat; height: 200px;'>
					<h2 style='text-indent:-9000px; height: auto;'>
						Save time and stay connected
					</h2>
					<h3 style='text-indent:-9000px; height: auto;'>
						We automatically turn emails into reminders, help
						you & your team stay on top of important deadlines,
						and push events to your existing calendar.
						
						Using your mobile phone, just email cc@team.{{site.domain}}
						for quick scheduling.
					</h3>
					<a href='/info/order'><img border='0' style='margin-top: 140px;' src='/static/images/cover/images/signup_button_green.gif'/></a><a href='/info/meetings/'><img border='0' style='margin-top: 140px;' src='/static/images/cover/images/more_info.gif'/></a>
				</div>
				
				<div style='clear: both;'></div>
				
			</div>
			
			
			
			<div class='cover_tab cover_tab_know' style='float: left; width: 750px; position: relative;'>
				
				<div style='float: left; width: 60%; height: 250px; background: url(/static/images/cover/images/know_example_left.gif) no-repeat;'>
					
				</div>
				
				<div style='float: left; width: 39%; background: url(/static/images/cover/images/know_example_right_text.gif) no-repeat; height: 200px;'>
					<h2 style='text-indent:-9000px; height: auto;'>
						Micro-twitter at work via email.
					</h2>
					<h3 style='text-indent:-9000px; height: auto;'>
						We connect your team using micro-messaging so
						everyone knows what's up at work.  With Noted,
						you can send tasks, deadlines, or messages to 
						co-workers with references to anyone on your team:
						@alex, @jen, @mike, or @all.
					</h3>
					<a href='/info/order'><img border='0' style='margin-top: 140px;' src='/static/images/cover/images/signup_button_green.gif'/></a><a href='/info/project/'><img border='0' style='margin-top: 140px;' src='/static/images/cover/images/more_info.gif'/></a>
				</div>
				
				<div style='clear: both;'></div>
				
				
			</div>
			
			
			
			<div class='cover_tab cover_tab_kb' style='float: left; width: 750px; position: relative;'>
				
				<div style='float: left; width: 60%; height: 250px; background: url(/static/images/cover/images/kb_example_left.gif) no-repeat;'>
					
				</div>
				
				<div style='float: left; width: 39%; background: url(/static/images/cover/images/kb_example_right_text.gif) no-repeat; height: 200px;'>
					<h2 style='text-indent:-9000px; height: auto;'>
						{% trans "Turn your busy inbox into a knowledge base." %}
					</h2>
					<h3 style='text-indent:-9000px; height: auto;'>
						{% blocktrans %}
						We unlock sales presentations trapped
						in company-wide emails. 
						{% endblocktrans %}
					</h3>
					<a href='/info/order'><img border='0' style='margin-top: 140px;' src='/static/images/cover/images/signup_button_green.gif'/></a><a href='/info/knowledge_base/'><img border='0' style='margin-top: 140px;' src='/static/images/cover/images/more_info.gif'/></a>
				</div>
				
				<div style='clear: both;'></div>
				
				
			</div>
			
			{% endcomment %}
			
			<div class='cover_tab cover_tab_signup' style='float: left; width: 750px; position: relative;'>
				
				
				
				
				
			    <div class='content_example' style='display:;font-size: 1.5em; padding-right:15px; height: 250px; padding-left: 20px; '>
   					
   					<div style='float: right; width: 350px; font-size: .8em;'>
   					    <div style="background: url(/static/images/yellow_bg.gif) #FCF8BC; background-repeat:repeat-x; padding: 10px; margin-top:;" class="rounded_upper rounded_lower notify">
			    			
			    				<h3>
			    				{% trans 'We hold weekly WebEx demos, just provide your email and submit!' %}
			    				</h3>
			    			{% comment %}
			    				{% trans 'Please note: certain features have been disabled in the demo for your protection.' %}
			    			{% endcomment %}
			    		</div>
			    	</div>
   					
   					<div style='float: left; margin-top: 0px; width: 279px; background: url(/static/images/cover/images/try_example_right_text.gif) no-repeat; height: 200px;'>
			    		
			    		<h1 style='text-indent:-9000px; height: 70px;'>
			    				{% trans 'You can use Noted as a personal email assistant or as a productivity suite at work.' %}
			    		</h1>
			    		
			    		<div>
			    			<div style='float:left' id='try_switch_personal' class='try_switch post_button_disabled post_button_selected'>
					            <a href='#personal' onclick='return false;'>{% trans 'Personal' %}</a>
					            
					        </div>
					        <div style='float:left' id='try_switch_work' class='try_switch post_button_disabled'>
					            <a href='#work' onclick='return false;'>{% trans 'Work' %}</a>
					        </div>
					        
			    		</div>
			    		
			    		
			    		<div style='clear:both; height: 20px;'></div>
			    		
			    		<form onsubmit='Animate.demo_register(); return false; ' method='POST' action='' id='demo_form'>
				    		<div>
				    			<span style='font-size: 1.2em;'>{% trans 'Your email' %}</span>
				    			<input type='text' name='demo_email' value='' style='width: 250px; height: 30px; font-size: 1.3em;'/>
				    		
					    		<div style='padding-top: 20px;'>
					    			<input type='submit' name='demo_submit' value='Click to continue...' style='font-size: 1.2em;' />
					    		</div>
				    		</div>
			    		</form>
			    	</div>
			    	
			    	
			    	
			    	{% comment %}
  
						     
						<div style='padding-top:; font-size: 1.1em; color: #D6156C; padding-bottom: 10px;'>
							{% trans "Hi! I'm Cc, your email assistant. " %}
						</div>
						<div style=''>
							{% trans 'Email me at' %} <a class="email_example"></a><a class='email_cc' rel="" href="mailto:Cc@{{site.domain}}">Cc@{{site.domain}}</a> {% trans "to get started."%}<Br />
							<div style="font-size: .7em; ">
								<div id="scrollup_examples" style="">
									<div style="margin-left:;">
										{% trans 'Try' %}:
										<div class="headline_e">
											{% trans '"@status Currently working on @sales with @james"' %}
										</div>
										<div class="headline_e">
											{% trans '"Remind me to call @john at 7pm tonight."' %}
										</div>
										<div class="headline_e">
											{% trans '"@john and @michelle, what times can you meet next Wednesday?"' %}
										</div>    
									</div>
								</div>
							</div>
						</div>
						      
						      
						      
						
				    	<div>
				        	{% trans "I'll work to make scheduling a breeze." %}
				        </div>
				        <div style="font-size: .7em; ">
				        	{% trans "Include me in emails about meetings and I'll schedule them." %}
				        </div>
				    	
				        <div style='padding-top: 20px; font-size: 1.1em; color: #D6156C; padding-bottom: 10px;'>
				        {% trans "Just include" %} <span class='email_cc'>Cc@{{site.domain}}</span> {% trans 'in your emails for dead simple scheduling.' %}
						</div>
						
				        
				        <div style='float:left' class='post_button'>
				            <a href='http://mail.google.com/mail/?view=cm&fs=1&to=Cc@{{site.domain}}&su=Remind+me+to+buy+milk+tonight&body=You+can+setup+reminders,+meetings,+etc.&ui=1'>Gmail</a>
				        </div>
				        
				        <div style='float:left' class='post_button'>
				            <a href='http://compose.mail.yahoo.com/?To=Cc@{{site.domain}}&Subject=Remind+me+to+buy+milk+tonight&body=You+can+setup+reminders,+meetings,+etc.'>Yahoo</a>
				        </div>
				        
				        <div style='float:left' class='post_button'>
				            <a href='http://www.hotmail.msn.com/secure/start?action=compose&to=Cc@{{site.domain}}&subject=Remind+me+to+buy+milk+tonight&body=You+can+setup+reminders,+meetings,+etc.'>Hotmail</a>
				        </div>
				        
				        <div style='float:left' class='post_button'>
				            <a href='http://webmail.aol.com/25045/aol/en-us/Mail/compose-message.aspx?to=Cc@{{site.domain}}&subject=Remind+me+to+buy+milk+tonight&body=You+can+setup+reminders,+meetings,+etc.'>AOL</a>
				        </div>
			        {% endcomment %}
			        
			        
			    </div>
				
		
				<div style='clear: both;'></div>
				
				
			</div>
			
		
		</div>
		
		<div style='clear:both;'></div>
		
	</div>
	
	
	
	<div class='cover_nav'>
		
		<div style='width: 748px; background: url(/static/images/cover/images/sunset_bg.jpg) no-repeat; height: 95px;'>
		
		</div>
		<div style='width: 749px;  height: 60px;'>
		 	
		 	<ul id="cover_nav_tabs" class="cover_nav_tabs" style='list-style-image:none; list-style-position:outside; list-style-type:none; margin:0;'>
	           	<li id="tab_first"><a id='tab_link_0' class='tab_selected tab_link' onClick="return false; " href="#" >Know what's up at work</a></li>
	          	<li id="tab_second"><a id='tab_link_750' class='tab_link' onClick="return false;" href="#" class='tab_selected' >Email assistant for scheduling</a></li>
	          	<li id="tab_third"><a id='tab_link_1500' class='tab_link' onClick="return false;" href="#">Automated knowledge-base</a></li>
				<li id="tab_fourth"><a style='width:193px;' id='tab_link_2250' class='tab_link_x' onclick="" href="/info/{% if session.show_salesforce %}salesforce/{% endif %}{% if session.show_crm %}crm/{% endif %}">Automated knowledge-base</a></li>
				
			</ul>
		 	
		 	
		</div>
		{% comment %}
		<a id='tab_link_2250' class='disabled_tab_link' href='/info/order' onclick='return true;'>
			<img border='0' style='float: right; position: relative; top: -99px; right: 17px; z-index: 10;' src='/static/images/cover/images/try_it_free_button.gif'/>
		</a>
		{% endcomment %}
		<div class='cover_shadow' style=' width: 748px; height: 20px; background: url(/static/images/cover/images/mid_shadow_bg.gif) repeat-x'>
			<!-- sunset_shadow -->
		</div>
	
	</div>
	
	<div style='clear:left; height: 20px;'></div>
	    
    <div style='display:none;float: right; width: 300px; margin-left: 5px; margin-right: 0px; margin-top: 10px;' class='post_button'>
    	<h1 style='margin-top: 0px;'>
    	{% trans "Calendars suck." %}
    	</h1>
      	We know you're checking email all day.  Use it for scheduling, tasks, and team events.
    </div>
    

</div>

<div class='block_content' style='padding: 15px; margin-top: -40px; height: 230px; position: relative;'>
	<div style='float:left; width: 49%;'>
		<span style='font-size: 1.5em; color: #555;'>{% trans 'Noted on our blog' %}</span>
		
		<div style='font-size: .9em;'>
			{% if blog_posts %}
			{% for post in blog_posts %}
				<div style='padding-top: 10px;'>
					<strong><a href='{{post.get_absolute_url}}'>{{post.title}}</a></strong> <span style='color: #ccc; display: block; '>{{post.publish|timesince}} ago</span>
					<div>
						{{post.tease|safe|truncatewords_html:30}}
					</div>
				</div>
			{% endfor %}
			{% else %}
				{% trans 'Nothing yet.' %}
			{% endif %}
			
			<div align='left' style='padding-top: 10px;'>
				<a href='/blog'>{% trans 'more...' %}</a>
			</div>
			
		</div>
	</div>
	
	<div style='float:left; width: 49%; position: absolute; left: 50%;'>
		<span style='font-size: 1.5em; color: #555;'>{% trans 'Noted on Twitter' %}</span>
		
		<div style='height: 190px; overflow: hidden; font-size: .9em;'>
			<div class='widget-content'> 
				<div id="twitter_div">
					<ul id="twitter_update_list">
					
					</ul> 
					<div style='padding-top: 10px;'>
						<a id="twitter-link" style="display:block;text-align:left;" href="http://twitter.com/ccnoted">Follow noted on Twitter</a> 
					</div>
				</div> 
				<script src="https://twitter.com/javascripts/blogger.js" type="text/javascript"></script> 
				<script text="text/javascript" src="http://twitter.com/statuses/user_timeline/ccnoted.json?callback=twitterCallback2&count=3"></script>
			</div>
		</div>
	
</div>

<div style='clear:both'></div>

</div>
{% endblock content %}
