{% extends 'mainv1_alias.html' %}
{% load i18n %}
{% block style %}
<style>
    .post_button a, .post_button a:link {
        color: #000;
        text-decoration: none;
    }
    .post_button {
        padding: 5px;
        margin-right: 10px;
        background: url(/static/images/yellow_bg.gif) #FCF8BC; 
        background-repeat: repeat-x; 
        -moz-border-radius: 10px; 
        -webkit-border-radius: 10px;
        color: #000;
        border: 1px solid #FFF;
        border-bottom: 1px solid #2B2825;
    }
    .block input {
        font-size: .9em;
    }
</style>
{% endblock %}

{% block javascript %}

{% endblock %}

{% block content %}
<div class='block'>
    <div class='content' style='padding-right:15px; height: ; float:left; width: 33%; '>
     	   Admin area.
    </div>
    
    <div class='content' style='padding-right:15px; height: ; float:left; width: 30%; '>
    
    </div>
    
    <div style="clear:both; height:1px;"></div>
</div>
{% endblock content %}
