{% extends 'main.html' %}
{% load i18n %}

{% block style %}
<style>
	.app_block {
		margin-bottom: 15px;
		border: 1px solid #eee;
		padding: 5px;
	}
</style>
{% endblock %}

{% block content_class %}white_bg outer_content{% endblock %}

{% block header %}
	<div style="border: 1px solid #ccc; background: #eee;" class="block block_header">
		<h1 class='mp'>{{app.name}}</h1>
	</div>
{% endblock %}


{% block content %}
	
	{% with app.get_latest_revision as rev %}

	<div class='block block_content' style='background: #fff;'>
	
		<div class='app_block'>
			<div style='float:right;'>
				{% if rev %}
					<span style='color: #999;'>{% trans 'Updated' %} <i>v{{rev.version}}{% if rev.svn_revision %}.{{rev.svn_revision}}{% endif %}</i> - {{rev.date_created|timesince}} ago</span>
				{% endif %}
			</div>
			<div class='mp' style='font-size: 1.3em;'>
				
				{% if rev and rev.icon_url and rev.icon_filename %}
					<img src='{{rev.icon_url}}' style='margin-right: 5px;'/>
				{% endif %}
				
				{{app.name}}
				
			</div>
			
			{% if app.vendor and app.vendor_url %}
			<div style='margin-top: 5px;'>
				{% trans 'by' %} <a target='_blank' href='{{app.vendor_url}}'>{{app.vendor}}</a>
			</div>
			{% endif %}
			
			<div style='margin-top: 10px;'>
				{{app.description}}
			</div>
		</div>
		
		<div style='clear:both;'></div>
		{% endwith %}
		
		<div style='margin-top: 15px;'>
			<a href='/download/'>
				<img border='0' title='{% trans "Download the conversation tracker now!" %}' src='/static/images/download.gif'/>
			</a>
		</div>
		
		<div style='height: 15px;'></div>
		
	</div>
		
{% endblock %}
