{% load i18n %}{% comment %} The page loaded into the popup window when the user accepts or denies OpenID from another site {% endcomment %}
<html lang="en-US">
<head>
<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
<LINK REV="made" href="mailto:founders@{{site.domain}}">
<META NAME="author" CONTENT="Noted, Inc.">
<META NAME="ROBOTS" CONTENT="ALL">
<style>
	
	body {
        font: 14px 'Helvetica Neue', 'Helvetica', 'Arial';
     	margin: 10px;  
     	background: #FFFFEB;
     	text-align: center;
	}
	
	.global_width {
		width: 95%;
	}
	
	div.status {
		background: #DFFFE3; 
		border: 1px solid #C2EFC7; 
		padding: 5px; 
		margin-bottom: 10px;
		display: none;
	}

</style>

<!--[if IE]>'
<style type="text/css"> 
	
</style>
<![endif]-->

<title>{% if success %}{% trans 'Login success' %}{% else %}{% trans 'Login failed' %}{% endif %}</title>


<script type="text/javascript">

	OpenIDReturn = this.OpenIDReturn = {
		inactive: {% if inactive %} true {% else %} false {% endif %},
			
		close: function() {
			if (OpenIDReturn.inactive) {
				// Take them to the page where they can pay for their expired account
				window.open('/dash/', '_blank');
			}
			window.close();
		},

		init: function() {
			setTimeout(OpenIDReturn.close, 3000);
		}
	};

	OpenIDReturn.init();
</script>
	
</head>

<body>

	<img class='header_logo' alt='{{site.name}} {% trans "CAL powered by email" %}' src='/static/images/{{site.name}}_logo_v3.gif' border='0'/>

{% block content %}
	<h1>{% if success %}{% trans 'Login success' %}{% else %}{% trans 'Login failed' %}{% endif %}</h1>

	<div class='block'>
		<strong>
			{% if success %}
				{% trans 'You are now logged in as' %} {{email}}.
			{% else %}
				{% if inactive %}
					{% trans 'Your account has expired. We will redirect you to the' %} <a target='_blank' href='/dash/'>{% trans 'upgrade page' %}</a>.
				{% else %}
					{% trans 'You are not logged in.' %}
				{% endif %}
			{% endif %}
		</strong>
		
		<br/><br/>
		
		{% if success %}
			{% trans 'Authenticating in 3 seconds... this pop-up window will close.' %}
		{% else %}
			{% trans 'This pop-up window will close in 3 seconds.' %}
		{% endif %}
		
	</div>
	
{% endblock %}
</body>

</html>