#CP_hourcont {
padding: 0px;
position:absolute;
border:1px dashed #bbbbbb;
background-color:#dddddd;
display:none;
z-index:1000;
}

#CP_minutecont {
background-color:#dddddd;
padding: 0px;
position:absolute;
width:45px;
border: 1px dashed #cccccc;
display:none;
z-index:1000;
}

.floatleft {
float:left;
}

.CP_hour {
padding:1px;
font-family: Arial, Helvetica, sans-serif;
font-size:9px;
white-space:nowrap;
cursor:pointer;
width:35px;
margin:1px;
background-color:#eeeeee;
z-index:1000;

}

.CP_minute {
padding:1px;
background-color:#eeeeee;
font-family: Arial, Helvetica, sans-serif;
font-size:9px;
white-space:nowrap;
cursor:pointer;
width:auto;
margin:1px;
z-index:1000;

}

.CP_over {
background-color:#ffffff;
z-index:1000;

}