{% extends 'emails/main.html' %}{% load i18n %}{% load assist_tags %}

{% block content %}

	<p style='margin-bottom:10px;'>
		{{contact.greeting}},
	</p>
	
	<p style='margin-bottom:10px;'>
		{% trans 'Just reminding you about a scheduled event!' %}: <!--<b>{{date_span}}</b>-->
		{% comment %}
		    {% if phone %}
		        <br/>{% trans 'Phone' %}: {{phone}}
		    {% endif %}
		{% endcomment %}
    </p>
    
    {% if old_emails %}
        {% ifequal old_emails_length 1 %}
            {% trans 'The following is the original email: ' %} 
        {% else %}
            {% trans 'The following are the original emails: ' %} 
        {% endifequal %}
        
    	{% for e in old_emails %}
        	{% quote_email %}
        	<p style='margin-bottom:10px;'></p>
    	{% endfor %}

    {% endif %}
    


{% endblock content %}

{% block footer %}
	<p style='margin-bottom:10px;'>
		{% trans 'Thanks,' %}
	</p>
	
	<p style='margin-bottom:10px;'>
		-- {{assistant_first_name}} {% if creator.first_name %}({{creator.first_name}}{% trans "'s assistant" %}){% endif %}
	</p>
{% endblock %}

{% block powered_by %}
<p style='font-size: .8em; color: #CCC;'>
    {% trans 'Powered by' %} <a href='http://{{site.domain}}'>{{site.name}}</a>. 	
</p>
{% endblock %}




