{% extends 'emails/main_signup_company.html' %}{% load i18n %}

{% block greeting %}
    <p style='margin-bottom:10px;'>{{alias.greeting}},</p>
    <p style='margin-bottom:10px;'>
        {% trans 'Congrats!' %}        
        {% if account.name %}
            {% trans 'You have been officially invited to' %} {{site.name}} {% trans 'on the' %} {{alias.account.name}} {% trans 'network by' %}
            <a href='mailto:{{admin_alias.email}}'>{{admin_alias.get_first_name_or_email}}</a>.
        {% else %}
            {% trans 'You have been officially invited to' %} {{site.name}} {% trans 'by' %}
            <a href='mailto:{{admin_alias.email}}'>{{admin_alias.get_first_name_or_email}}</a>.
        {% endif %}
                
        {% trans 'I am your <i>automated</i> assistant' %} {{assistant.first_name}} ({{assistant.email}}). 
    </p>
{% endblock %}