{% extends 'emails/main_signup.html' %}{% load i18n %}
{% block content %}
    <p style='margin-bottom:10px;'>
        {{owner_alias.get_full_name_or_email}} 
        {% trans 'has granted you access to the file' %} {{file.name}}.
    </p>
    
    <p style='margin-bottom:10px;'>
        
        {% trans 'The following download link is valid for 24 hours:' %}<br/>
        <a href="http://{{site.domain}}/dash/?alias={{alias.slug}}&to={{url|urlencode}}">
            http://{{site.domain}}/dash/?alias={{alias.slug}}&to={{url|urlencode}}
        </a>
    </p>
    
{% endblock %}
