{% extends 'mainv1_dash.html' %}
{% load i18n %}
{% block style %}
{% endblock %}

{% block javascript %}

<meta http-equiv="refresh" content="5;url=/login/?agent=windowmob" />

<script language="javascript">
	window.location = '/login/?agent=windowmob';
</script>

{% endblock %}

{% block content %}
	
	<div style='text-align:center'>
	
		{% trans 'Please wait... ' %}
		
		<div style='margin-top: 10px; font-size: .9em; color: #999;'>
			{% trans 'This page requires Javascript.  Please press "J" if on Blackberry.' %}
		</div>
	
	</div>
	
{% endblock content %}
