{% extends 'mainv1_dash.html' %}
{% load i18n %}

{% load assist_tags %}
{% load account_tags %}

{% block style %}
<style>
h4 {
margin-top: 15px;
}
p, ol, li {
margin-top: 10px;
}
</style>
{% endblock %}


{% block header %}
<div class='block' style='background: #eee;'>
	<h2 style='margin:0px;'>{{site.name}} {% trans 'terms' %}</h2>
</div>
{% endblock %}

{% block extra_javascript %}
	<script language='javascript'>
	
	$(document).ready(function() {
		
		$('#loading_bar').hide();
		
		var Page = this.Page = {
			agree_terms: function() {
				if ($('#terms_agree').is(':checked'))
					Ajax.send_data('terms/', {checked: $('#terms_agree').val()}, function(data) {
						if (data.return_data.success)
							window.location = '/dash/{{alias.account.base_url}}/settings/?agent={{agent}}';
						else
							alert('{% trans "You must agree to the terms to use or access the service." %}');
					}, "POST");
				else
					alert('{% trans "You must agree to the terms to use or access the service." %}');
			}
		};
	});
	</script>
{% endblock %}

{% block content %}

<div class="outer_block block" style=''>
<form method='POST' action='' onsubmit='Page.agree_terms();return false;'>
<p style='margin-bottom: 10px;'>
	{% trans 'You must read and agree to the following terms before using or accessing this service and all other services.' %}
</p>

	<div style="border: thin solid gray; padding: 4px; overflow: auto; margin-left:; margin-bottom: 5px; width:; height: 200px;">
		{% include 'terms/terms.html' %}
	</div>

<label>
	<input type='checkbox' name='agree' value='1' id='terms_agree'/> {% trans 'I agree to the License and Terms of Service Agreement' %}.
</label>
<p>
	<input type='submit' name='terms_submit' value='Continue'/>
</p>
</form>
</div>
{% endblock %}

