{% extends 'mainv1_dash.html' %}
{% load i18n %}
{% block style %}
<style>

    .block input {
        font-size: .9em;
    }
    
    a, a:link, a:hover {
    	color: #999;
    }
    
</style>
{% endblock %}

{% block javascript %}

<script language="javascript">
	var Page = this.Page = {

		currentFocus: null,
		
        login: function() {
			var password = $('#login_password').val();
            var email = $('#login_email').val();
            Ajax.send_data('login/', {email: email, password:password, alias: '{{alias_slug}}', base_url: '{{base_url}}', to: '{{redirect_to}}', agent: '{{agent}}' }, function(data) {
                if (data.return_data.success) {
                    if (data.return_data.user_token)
                        try {
                    		window.external.Callback_StoreLogin(data.return_data.user_email, data.return_data.user_token);
                        } catch(err) {}
        				if (data.return_data.redirect)
							window.location=data.return_data.redirect;
					else
						alert(data.return_data.msg);
                } else {
                    alert(data.return_data.msg);
                }
			}, "POST");
        },

        login_with_token: function(email, token) {
            Ajax.send_data('login/', {email: email, token: token, base_url: '{{base_url}}', to: '{{redirect_to}}', agent: 'outlook' }, function(data) {
                if (data.return_data.success) {
					if (data.return_data.redirect)
						window.location=data.return_data.redirect;
					else
						alert(data.return_data.msg);
                } else {
                	 //Failure just means the token is old or invalid; let them log in manually
                    try {
                        // Needed for older versions of the Outlook plugin (before 2007b)
                    	window.external.Callback_SetBrowserVisible();
                    } catch(err) {}
                }
			}, "POST");
        }
	};
	
</script>

{% comment %}
This is only here to identify the document (nothing will go inside the script tags)
{% endcomment %}

<script language="javascript" id="outlook_login">
</script>

{% endblock %}

{% block extra_javascript %}

{% endblock %}

{% block header %}
    <h3>{% trans 'Login to your account' %}</h3>
{% endblock %}

{% block content %}
<div class='outer_block outer_content'>
    <div style='padding:5px;'>
		<form method='POST' name='login_form' id='exchange_form' onsubmit='Page.login();return false;'>
			<div style='width: 80px; float: left; display: inline;'>{% trans 'Email:' %} </div><input style='width: 120px;' autocorrect='off' autocapitalize='off' type='text' name='login_email' id='login_email' value='{{email}}' tabindex='1' /> <Br/>
			<div style='clear:both;'></div>
			<div style='width: 80px; float: left; display: inline;'>{% trans 'Password:' %} </div><input style='width: 120px;' autocorrect='off' autocapitalize='off' type='password' name='login_password' id='login_password' value='' tabindex='2' /> <Br/>
			<div style='clear:both;'></div>
			<input type='submit' name='' value='{% trans "Login" %}' id='login_button' style='margin-top: 10px;' tabindex='3'/>
			<input onclick='window.location="/info/order/?agent={{agent}}";return false;' type='button' name='' value='{% trans "Signup" %}' id='signup_button' style='margin-top: 10px;' tabindex='4'/>
		
			{% trans 'or' %} <a href='/login/forgot/?agent={{agent}}'>{% trans 'Forgot your password?' %}</a>
		
		</form>
    </div>
</div>

{% endblock content %}

{% block footer %}

{% ifequal agent 'iphone' %}
	<div style='margin-top: 10px; text-align:center'>
		
	</div>
{% endifequal %}
		
{% endblock %}
