{% extends 'mobile/iphone/main_account.html' %}

{% block extra_javascript %}

	<script language="javascript" id="outlook_main_account">
		{% comment %}
		This is only here to identify the document for the Outlook plugin (nothing inside these script tags)
		{% endcomment %}
	</script>
	
	<script language='javascript' src='/dash/main_account.js?agent={{agent}}'></script>
	
	<script language="javascript">
		// Hack for the Tab and Shift-Tab keys to work in Outlook
		$(document).ready(function() {
			$("input").each(function() {
				$(this).focus(function () {
					Page.currentFocus = $(this);
				});
			});
		
			Page.ready();		// load the widgets
		});

		function outlook_tab_press() {
			if (Page.currentFocus) {			
				var next = Page.currentFocus.nextALL('input:visible[@tabindex]');
				if (next.length > 0) {
					next[0].focus();
				} else {
					$('input:visible:first[@tabindex]').focus();
				}
			} else {
				$('input:visible:first[@tabindex]').focus();
			}	
		}
		
		function outlook_shift_tab_press() {
			if (Page.currentFocus) {			
				var prev = Page.currentFocus.prevALL('input:visible[@tabindex]');
				if (prev.length > 0) {
					prev[0].focus();
				} else {
					$('input:visible:last[@tabindex]').focus();
				}
			} else {
				$('input:visible:last[@tabindex]').focus();
			}	
		}

	</script>

{% endblock %}